<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Timoffmax\Useless\Api\Data\ProductInterface" type="Timoffmax\Useless\Model\Product"/>
    <preference for="Timoffmax\Useless\Api\ProductRepositoryInterface" type="Timoffmax\Useless\Model\ProductRepository"/>
</config>
